.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  .doctorImg {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
