/* Reservation.css */

.reservation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 왼쪽과 오른쪽으로 요소 배치 */
  gap: 3rem;
}

.res {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-content: center;
}