.doctor-list-container {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.table-container {
  max-height: 220px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 설정 */
}

.doctor-table {
  width: 100%;
  border-collapse: collapse;
}

.doctor-table th, .doctor-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.doctor-table th {
  background-color: #f2f2f2;
}

.doctor-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.doctor-table tr:hover {
  background-color: #e5e5e5;
}

  